<p>Name:</p><input id="name-input" ng-model="vm.item.editName">{{vm.item.editName}}
<p>Phone:</p><input id="phone-input" ng-model="vm.item.editPhone">{{vm.item.editPhone}}
<br>
<button id="save-link" ng-click="vm.save()">Add</button>
