<input id='search-string' ng-model="vm.searchStr">
<table class='list-table'>
  <tr>
    <td ng-click="vm.filterChange('name')">Name</td>
    <td ng-click="vm.filterChange('phone')">Phone</td>
  </tr>
  <tr>
    <td class="centerText"><i ng-class="vm.getClass('name')"/></td>
     <td class="centerText"><i ng-class="vm.getClass('phone')"/></td>
    <td></td>
  </tr>
  <tr ng-repeat="item in vm.items | orderBy:vm.filterFun() | filter:vm.searchStr" ng-attr-id="{{item._id}}" ng-class="{selected: item.done}">
    <td><a class="edit-link" ng-click="vm.edit(item)">{{item.name}}</a></td>
    <td>{{item.phone}}</td>
    <td ><input type="checkbox" ng-model="item.done"></td>
    <td><button class="delete-link" ng-click="vm.delete(item._id)">Delete</button></td>
  </tr>
</table>