<table>
    <tr>
        <td>Nimi:</td>
        <td><input id="name-input" [(ngModel)]="newContact.name"/></td>
    </tr>
    <tr>
        <td>Telefon:</td>
        <td><input id="phone-input" [(ngModel)]="newContact.phone"/></td>
    </tr>
    <tr>
        <td><button class="link" (click)="back()">Tagasi</button></td>
        <td><button class="link" id="save-link" (click)="addNewContact()">Lisa</button></td>
    </tr>
</table>

