.selected {
    background-color: gainsboro;

}

table{
    border-collapse: collapse;
}

th  {
    text-align: left;
}

tr {
    height: 32px;
}

td {
    padding-right: 10px;
}

thead {
    border-bottom: 2px solid #333333;
}



